
html {
  background: url(img_avatar2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.padded {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
}
