<!-- Button to open the modal login form -->


<!-- The Modal -->
<!DOCTYPE html>
<html>
<head>
  <title>Smart Chair</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
  <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="" action="">
    <center>
      <div class="padded" align="left">
        <div>
          <label><b>Username&nbsp;&nbsp;</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div>
          <label><b>Password&nbsp;&nbsp;&nbsp;</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </div>

    </center>
  </form>
</div>
</body>
</html>
